<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<div id="wrap">
	  	
	  	<!-- Navigation -->


      <!-- Header -->
      {% include header.html %}

    <!-- Main content -->
	  <div id="container">
				<h2>Nosotros</h2>							
				<div class="nosotros">
						<p>1. Nosotros no somos un grupo de pump.</p>
						<p>2. No nos hacemos responsables por compraventa para esto sugerimos cerciorarse de la persona que hace la compra y/o la venta. </p>
						<p>3. Nuestras operaciones, alertas o señales tienen riesgo asociado, para minimizar este riesgo te sugiero leer nuestra sección “estructura de cartera”, toda operación que tomes es bajo tu responsabilidad.</p>
						<p>4. Somos un grupo de analistas dedicados a: análisis técnico, señales, noticias y reseñas de ICOs</p>
					
				</div>

				<br>
				<h2>Normas</h2>			
				<div class="normas">
					<p>1. No faltar al respeto.</p>
					<p>2. No se permiten links personales, pirámides, ni de pumps o dumps.</p>
					<p>3. Está prohibido difundir la información a otros grupos por fuera de este, cualquiera que sea descubierto será sancionado</p>
					<p>4. El uso de la información de este grupo queda bajo el riesgo de cada uno.</p>
				</div>
				
				<br>
				<h2>Reglas Basicas de seguridad</h2>			
				<div class="seguridad">
					<p>1. Nunca mantengas en un exchange una cantidad de dinero que no puedas permitirte perder. Siempre existe la posibilidad de hackeo/robo.</p>
					<p>2. Diversifica tus posiciones entre varios exchanges.</p>
					<p>3. Para una mejor privacidad, recomendamos conectarse a exchange a través de un servicio VPN, de modo que no quede registro de IP que les sirva para reportar desde que país óperas. Cualquiera que esté en esta lista https://privacytoolsio.github.io/privacytools.io/#vpn es una buena opción, en lo personal nuestro equipo usa NordVPN.</p>				
				</div>
		
		</div>

	    <!-- Script -->
      {% include script.html %}

	</div>
</body>
</html>
