<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<div id="wrap">
	  	
	  	<!-- Navigation -->


      <!-- Header -->
      {% include header.html %}

    <!-- Main content -->
	  <div id="container">
				<h2 align="center">Nosotros</h2>							
				<div class="nosotros">
						<p>1. No somos un grupo de pump.</p>
						<p>2. No nos hacemos responsables por compraventa para esto sugerimos cerciorarse de la persona que hace la compra y/o la venta. </p>
						<p>3. Nuestras operaciones, alertas o señales tienen riesgo asociado, para minimizar este riesgo te sugiero leer nuestra sección “estructura de cartera”, toda operación que tomes es bajo tu responsabilidad.</p>
						<p>4. Somos un grupo de analistas dedicados a: análisis técnico, señales, noticias y reseñas de ICOs</p>
					
				</div>

				<br>
				<h2 align="center">Normas</h2>			
				<div class="normas">
					<p>1. No faltar al respeto.</p>
					<p>2. No se permiten links personales, pirámides, ni de pumps o dumps.</p>
					<p>3. Está prohibido difundir la información a otros grupos por fuera de este, cualquiera que sea descubierto será sancionado</p>
					<p>4. El uso de la información de este grupo queda bajo el riesgo de cada uno.</p>
				</div>
				
				<br>
				<h2 align="center">Reglas Basicas de seguridad</h2>			
				<div class="seguridad">
					<p>1. Nunca mantengas en un exchange una cantidad de dinero que no puedas permitirte perder. Siempre existe la posibilidad de hackeo/robo.</p>
					<p>2. Diversifica tus posiciones entre varios exchanges.</p>
					<p>3. Para una mejor privacidad, recomendamos conectarse a exchange a través de un servicio VPN, de modo que no quede registro de IP que les sirva para reportar desde que país óperas. Cualquiera que esté en esta <a href="https://privacytoolsio.github.io/privacytools.io/#vpn">lista</a> es una buena opción, en lo personal nuestro equipo usa NordVPN.</p>				
				</div>

				<br>
				<h2 align="center">Estructura de cartera</h2>
				<p>Para integrar hábitos saludables de gestión de financiera proponemos una estructura de 3 carteras:</p>						
				<div class="cartera">
					<h6>CARTERA LARGO/MEDIO PLAZO(25-65%)</h6>
					<p>En esta cartera vamos tener un riesgo medio-bajo, las operaciones en esta cartera son para mantener por meses o años con monedas que esté respaldados en un proyecto o empresa sólida, estas monedas son monedas de resguardo que ante posibles caídas fuertes se van a recuperar al largo plazo.</p>

					<h6>CARTERA ALTCOINS (20-40%)</h6>
					<p>En esta cartera vamos a tener un riesgo medio-alto, las operaciones en esta cartera son de oportunidad pueden ser semanas o meses, vamos a invertir en ICO y en monedas que podamos buscar objetivos específicos, estos objetivos van ligados a noticias, análisis o algún un hecho importante de la empresa que respalda la moneda.</p>
					
					<h6>CARTERA CORTO PLAZO (5-20%)</h6>
					<p>En esta cartera vamos a tener un riesgo alto, las operaciones en esta cartera son operaciones especulativas para mantener por horas o días, son operaciones cortas donde buscamos entrar y ganar pequeños porcentajes siempre vigilando el stop-loss.</p>

					<br>
					<p>Los porcentajes son sugeridos, cada uno debe encontrar los objetivos con estas carteras, tus objetivos van ligados al riesgo que deseas asumir en las operaciones que desees abrir, la modificación de los porcentajes, los debes hacer bajo tu responsabilidad, ten presente “una mayor posible ganancia tendrá más riesgo, puedes capitalizar más rápido pero asumes un mayor riesgo”.</p>
				</div>
		
		</div>

	    <!-- Script -->
      {% include script.html %}

	</div>
</body>
</html>
